@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --vampireBlack: #0a0a0a;
  --davysGrey: #525252;
  --lightDavysGrey: #c3c3c3;
  --lotion: #fafafa;

  font-family: "SlussenRegular", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SlussenBold";
  src: url("./assets/Slussen-BoldExpanded.ttf") format("truetype");
  font-weight: 800;
  font-stretch: ultra-expanded;
}

@font-face {
  font-family: "SlussenRegular";
  src: url("./assets/Slussen-RegularExpanded.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--lotion);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--vampireBlack);
    background-color: var(--lotion)
  }
}